<div class="container-fluid mt-5 about-style" id="aboutid" >
       <div class="row">
         <div class="col-md-10 col-12 mx-auto">
           <h1 class="text-center main-heading"> About us </h1>
           <p class="text-center sub-heading">we deliver best qualtiy food</p>
           <div class="row">
              <div class="col-md-6 col-12 food-text order-md-0 order-0">
               <figure>
                 <img src="images/order-img.jpg" alt="foodsec_image">
               </figure>
</div>
             <div class="col-md-6 col-12 food-text order-md-0 order-1 d-flex justify-content-center align-items-center flex-column">
              <h1>Our FOOD</h1>
              <h1>Is both high QUALITY and FRESH</h1>
              <p>We here at our restaurant believe in giving the best service to our customers by providing good qaulity food<span class="bold-style">We promise to keep that forever.</span></p>
              <button class="btn-style btn-primary">order now</button>
             </div>
             
           </div>
         </div>
       </div>
     </div>